<div>
    <h1 style="color:#50332e; text-aling:center;">
        Bienvenid@
    </h1>
    <div style="text-aling:center">
        <img src="cid:banner" alt="">
    </div >
    <h2>Hola {{user.name}} gracias por registrarte en Alma insiensos!</h2>
</div>