<div>
  <h1 style="color: red; text-aling:center;">
    Su Producto fue Eliminado
  </h1>
  <div style="text-aling:center">
    <img src="cid:banner" alt="" />
  </div>
  <h2>Hola {{user.name}} Un administrador a eliminado tu producto</h2>
</div>