<div>
    <h1 style="color: #50332e; text-aling:center;">
        Restablecer contraseña!
    </h1>
    
    <h2>Recibiste este correo por que olvidaste tu contraseña, si no es asi, desestimalo! </h2>
    <p>
        Para restablecer tu contraseña, por favor haz clic <a href="http://localhost:8080/restorePassword?token={{restoreToken}}">en este enlace</a>
    </p>
</div>