<div>
    <h1 style="color: #50332e; text-aling:center;">
        Restablece tu clave
    </h1>
    
    <h2>Este correo te permitira poner una nueva contraseña</h2>
    <p>
        puedes restablecer tu contraseña <a href="http://localhost:8080/restorePassword?token={{restoreToken}}">en este enlace</a>
    </p>
</div>