<nav class="navBarAdmin">
  <div class="LogoAdmin">
    <a href="/"><img src="/img/alma.png" alt="" /> </a>
    <a href="/"> <p>Incense</p></a>
  </div>
  <ul>
    <a href="/products"><li>Manager Productos</li></a>
    <li>Manager Carritos</li>
    <a href=""><li
      >Manager Tickets</li></a>

  <div class="logoutContainer">
    <button id="loguotButton">Logout</button>
  </div>

  </ul>
  
</nav>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/logout.js"></script>