<nav class="navBar">
  <ul>
    <a href="/">
      <div class="Logo">
        <a href="/"><img src="/img/alma.png" alt="" /></a>
        <a href="/"> <p>INCIENSE</p></a>
      </div>
    </a>

    <div class="divsSing">

      <div class="enlaces">
        <ul>
          <a href="/products"><li>PRODUCTOS</li></a>
          <a href="/manager"><li>MANAGER</li></a>
          {{!-- <a href="/premium"><li>HASTE PREMIUM</li></a> --}}
          <li>NOSOTROS</li>
        </ul>
      </div>

      <div>
        <a href="/cart">
          <li>
            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
          </li>
        </a>
      </div>

      <div class="logoutContainer">
        <button id="loguotButton">Logout</button>
      </div>

    </div>

  </ul>
</nav>

<div class="premiumContainer">

  <h1>Cambiar de perfil</h1>
  <div class="premiumDiv">

      <button onclick="premiumHandler('premium')">Perfil Premium</button>

      <button onclick="premiumHandler('usuario')">Perfil Usuario</button>

  </div>
</div>

<script src="/js/logout.js"></script>
<script src="/js/premiumHandler.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>