<nav class="navBar">
  <ul>
    <div class="Logo">
      <a href="/"><img src="/img/alma.png" alt="" /> </a>
      <a href="/"> <p>INCIENSE</p></a>
    </div>

    <div class="divsSing">
      <div class="enlaces">
        <ul>
          <a href="/products"><li>PRODUCTOS</li></a>
          <li>PROMOS</li>
          <a
            href=""
            target="_blank"
          ><li>SEGUINOS</li></a>
        </ul>
      </div>
      <div>
        <a href="/cart"><li><i
              class="fa-solid fa-cart-shopping"
              style="color: #ffffff;"
            ></i></li></a>
      </div>
      <div class="logoutContainer">
        <button id="loguotButton">Logout</button>
      </div>

    </div>

  </ul>
</nav>


<div class="carousel">
  <div class="carousel-container">
    <div class="carousel-slide">
      <img src="/img/7dias.jpg" alt="Imagen de sahumerio 7 dias" />
    </div>
   
    <div class="carousel-slide">
      <img src="/img/sahumo2.jpg" alt="Imagen sahumerio sahumo" />
    </div>
  </div>
</div>

<div class="titulo2">
  <h2>NUESTROS KITS</h2>
</div>

<div class="kits">
  <div class="imgContainer">
    <div>
      <img src="/img/kitlimpieza.jpg" alt="imagen de kit de limpieza"/>
    </div>
    <div>
      <img src="/img/kitluz.jpg" alt="imagen de kit luz"
      />
    </div>
  </div>
</div>

<div class="linksHome">
  <div class="imgContainer">
    <div>
      <img src="/img/productos.jpg" alt=""/>
      <a href="/products"><button>PRODUCTOS</button></a>
    </div>
    <div>
      <img src="/img/promos.jpeg" alt=""/>
      {{!-- <a href="/promo"><button></button></a> --}}
    </div>
  </div>
</div>
<footer>
  <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
  <i class="fa-brands fa-linkedin" style="color: #ffffff;"></i>
  <i class="fa-brands fa-github" style="color: #ffffff;"></i>
</footer>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/productHandler.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/carrousel.js"></script>