{{!-- <div class="loginContainer">

  <h1>Login</h1>
  <div class="loginDiv">
    <form id="loginForm">

      <label>Email</label>

      <input name="email" />

      <label>Contraseña</label>

      <input type="password" name="password" />

      <button type="submit">Enviar</button>

    </form>
    <div class="github">
      <a class="logoGit" href="/api/sessions/github"><i
          class="fa-brands fa-github"
          style="color: #ffffff;"
        ></i></a>
    </div>
  </div>
  <p>No estas registrado?
    <a href="/register"><button>Registrate aca</button></a>
  </p>

  <P>Olvidaste tu Contraseña?
    <a href="/restorePassword"><button>click aqui</button></a></P>
</div> --}}

<div class="loginContainer">

  <h1>Login</h1>
  <div class="loginDiv">
    <form id="loginForm">

      <label>Email</label>
      <input name="email" />
      <label>Contraseña</label>
      <input type="password" name="password" />
      <button type="submit">Enviar</button>

    </form>
  </div>

  <p>O ingresar por Github</p>

  <div class="github">
      <a class="logoGit" href="/api/sessions/github"><i
          class="fa-brands fa-github"
          style="color: #000000;"
        ></i></a>
    </div>
    <P>¿Olvidaste tu Contraseña?</p>
  <a href="/restorePassword" class="restorePass">Restablecela aqui</a></P>

</div>

<script src="/js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>