<div class="loginContainer">
<h1>Ecomerce - Alma insensos!</h1>
  <h2>Login</h2>
  <div class="loginDiv">
    <form id="loginForm">

      <label>Email</label>
      <input name="email" />
      <label>Contraseña</label>
      <input type="password" name="password" />
      <button type="submit">Enviar</button>

    </form>
  </div>

  <p>O ingresar por Github</p>

  <div class="github">
      <a class="logoGit" href="/api/sessions/github"><i
          class="fa-brands fa-github"
          style="color: #000000;"
        ></i></a>
  </div>
<div>
  <p>No estas registrado?</p>
  <a href="/register"><button class="registerBtn">Registrarme!</button></a>
</div>

  <P>¿Olvidaste tu Contraseña?
  <a href="/restoreRequest" class="restorePass">Restablecela aqui!</a></P>

</div>

<script src="/js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>