<nav class="navBar">
  <ul>
    <div class="Logo">
      <a href="/"><img src="/img/alma.png" alt="" /> </a>
      <a href="/"> <p>INCIENSE</p></a>
    </div>

    <div class="divsSing">
      <div class="enlaces">
        <ul>
          <a href="/products"><li>PRODUCTOS</li></a>
          {{!-- <a href="/managerPremium"><li>Manager Productos</li></a> --}}
          <a href="/"><li>HOME</li></a>

          <div class="logoutContainer">
            <button id="loguotButton">Logout</button>
          </div>
        </ul>

      </div>
    </div>

  </ul>
</nav>

<div class="productManager">

  <div class="creadorDeProductos">
    <h2>Crear un producto</h2>
    <form id="productForm">
      <div class="sectionA">
        <div class="sectionB">
          <label>Title</label>
          <input type="text" name="title" />

          <label>Description</label>
          <input type="text" name="description" />

          <label>Code</label>
          <input type="text" name="code" />
        </div>
        <div class="sectionB">
          <label>Stock</label>
          <input type="number" name="stock" />

          <label>Price</label>
          <input type="number" name="price" />

          <label>Category</label>
          <input name="category" />
        </div>
      </div>
      <button type="submit">Crear</button>

    </form>
  </div>
  <div class="visualizadorDeProductos">
    <h2>Mis Productos</h2>
    {{#each myProducts}}
      <div class="cadaProducto">
        <p>{{title}}</p>
        <button data-product-id={{_id}} class="bottonEliminar">Eliminar</button>
      </div>

    {{/each}}
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/logout.js"></script>
<script src="/js/createProduct.js"></script>