<div class="restoreRequestDiv">
<h2>Escribe tu correco electónico</h2>

<p>Te enviaremos un link para restablecer tu contraseña</p>

<form id="restoreRequestForm">
    <input type="text" name="email">
    
    <button class="btnRestoreSubnit" type="submit" id="submitter">Enviar</button>
</form>

<p id="message"></p>
</div>

<script src="/js/restoreRequest.js"></script>