<div class="restorePasswordDiv">
  <h1>Restrablecer contraseña</h1>

  <form action="" id="restorePasswordForm">
    {{!-- <label for="">Ingresa tu correo</label>
    <input name="email" type="email" /> --}}

    <label for="">Ingresa tu nueva contraseña</label>
    <input name="password" type="password" />

    <button type="submit">Enviar</button>

  </form>
  <p id="message"></p>
</div>

<script src="/js/restorePassword.js "></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>