<nav class="navBar">
  <ul>
    <a href="/">
      <div class="Logo">
        <a href="/"><img src="/img/alma.png" alt="" /></a>
        <a href="/">
          <p>INCIENSE</p>
        </a>
      </div>
    </a>

    <div class="divsSing">

      <div class="enlaces">
        <ul>
          <a href="/products">
            <li>PRODUCTOS</li>
          </a>
          <li>NOVEDADES</li>
          <li>NOSOTROS</li>
        </ul>
      </div>

      <div>
        <a href="/cart">
          <li>
            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
          </li>
        </a>
      </div>

      <div class="logoutContainer">
        <button id="loguotButton">Logout</button>
      </div>

    </div>

  </ul>
</nav>

<div class="thanks">
    <p class="saludo">GRACIAS POR TU COMPRA!!</p>
    <p class="saludo">Esperamos verte muy pronto de vuelta!</p>
</div>



<script src="/js/logout.js"></script>