* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(38, 38, 38);
  overflow-x: hidden;
  background-color: #fea918;
}
.error {
  width: 100vw;
  height: 100vh;

  background-image: url("../img/error.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
