* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: 100vw;
  height: 140vh;
  display: flex;
  background-color: white;
  overflow-x: hidden;
}

.productManager {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;

}
#productForm {
  display: flex;
 
}
.creadorDeProductos {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  align-items: center;
  margin-left: 10px;
  border: 2px solid #e5005a;
  border-radius: 20px;
  box-shadow: 1px 3px 19px -3px #000000;
  margin-top: 5em;
  margin-bottom: 3em;
  padding-bottom: 2em;

}
.sectionA{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

}

.sectionB{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.creadorDeProductos h2 {
  color: black;
  margin-top: 50px;
}
.visualizadorDeProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  width: 70%;
  height: auto;
  border: 2px solid #e5005a;
  border-radius: 20px;
  box-shadow: 1px 3px 19px -3px #000000;
  color:black;
  /* overflow-y: scroll; */
  padding-bottom: 2em;
}
.visualizadorDeProductos h2 {
  color: black;
  margin-top: 50px;
  margin-bottom: 50px;
}
.cadaProducto {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.cadaProducto button {
  margin: 0;
  padding: 0;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
label {
  margin-bottom: 10px;
  color: black;
  align-items: center;
}
input {
  height: 30px;
  border-radius: 15px;
  margin-bottom: 10px;
  width: 200px;
  text-indent: 15px;
  text-align: center;
  
}
button {
  background-color: transparent;
  border: 2px solid #e5005a;
  width: 100px;
  height: 30px;
  border-radius: 40px;
  color: black;
}
