* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(38, 38, 38);
  color: #e7832b;
  justify-content: center;
  overflow-x: hidden;
}
.chatWindow {
  width: 100vw;
  height: 100vh;
  background-color: rgb(27, 27, 27);
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e7832b;
  padding-top: 30px;
}
.messages {
  color: white;
  margin-left: 30px;
  padding-top: 30px;
}
.messages p {
  line-height: 20px;
}
.inputContainer {
  display: flex;
  width: 100vw;
  position: absolute;
  bottom: 30px;
  justify-content: center;
}
.chatInput input {
  width: 80vw;
  height: 30px;
  border-radius: 40px;
  text-indent: 30px;
}
.botonEnviar button {
  background-color: transparent;
  border: 2px solid #e7832b;
  width: 100px;
  height: 30px;
  border-radius: 40px;
  color: white;
  margin-left: 30px;
}
