/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(38, 38, 38);
  overflow-x: hidden;
}
#product-container {
  width: 80vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(38, 38, 38);
}
.titulo {
  color: #e7832b;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cardContainer {
  flex-basis: 30%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 200px;
  height: 300px;
  border-radius: 15px;
  background-color: rgb(32, 32, 32);
  margin-left: 15px;
  cursor: pointer;
  margin-bottom: 30px;
  -webkit-box-shadow: 1px 3px 19px -3px #000000;
  box-shadow: 1px 3px 19px -3px #000000;
}
.price {
  color: #e7832b;
}
.imgConteiner {
  width: 100px;
}
.imgConteiner img {
  width: 100%;
  object-fit: cover;
}
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

h1 {
  color: #634133;
  margin-top: 30px;
  margin-bottom: 30px;
}

#product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
}

.col-md-4{
margin-top: 4%;
}

.category{
margin-bottom: 0.5em;
}

.card-text-description {
font-size: 13px;

}