* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color:#634133;
  justify-content: center;
  overflow-x: hidden;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

h1 {
  padding-top: 30px;
  margin-bottom: 30px;
}

.formDiv {
  width: 30vw;
  height: 60vh;
  border: 2px solid #634133;
  border-radius: 20px;
  -webkit-box-shadow: 1px 3px 19px -3px #000000;
  box-shadow: 1px 3px 19px -3px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

label {
  margin-bottom: 10px;
}

input {
  height: 30px;
  border-radius: 15px;
  margin-bottom: 10px;
  width: 70%;
  text-indent: 15px;
  text-align: center;
}

button {
  background-color: transparent;
  border: 2px solid#634133;
  width: 100px;
  height: 30px;
  border-radius: 40px;
  color:#634133;
  margin-top: 10px;
}

.registrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: #634133 !important;
}

.productForm {
  display: flex;
  flex-direction: column;
}